<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>YouTube API</h1>
    <p>type a query to search YouTube. Example: http://localhost:9292/youtube/search?q=soccer</p>
  </body>
</html>
